<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (!estouLogadoCorretamente) { %> 
      <form method="POST" >
        Dados do usuário<br />
        Nome: <input type="text" name="nome" /><br />
        Email: <input type="text" name="email" /><br />
        Senha: <input type="password" name="senha" /><br />
        Confirma: <input type="password" name="confirma" /><br />
        <input type="submit" value="Enviar" />
      </form>
    <% } else { %>
      <h2>Você está logado!</h2>
    <% } %> 

    <pre><%=JSON.stringify(locals, null, 2)%></pre>

    <% if (estouLogadoCorretamente) { %> 
      <a href="/logout">Sair</a><br />
    <% } else { %> 
      <form action="/login" method="POST">
        Login<br />
        Email: <input type="text" name="email" /><br />
        Senha: <input type="password" name="senha" /><br />
        <input type="submit" value="Log in" />
      </form>
    <% } %> 
  </body>
</html>
