<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/login" method="post">
            Login<br/>
            Email:<input type="text" name="email"><br/>
            Senha:<input type="password" name="senha"><br/>
            <input type="submit" value="Enviar"/>
        </form>
    </body>
</html>